<div *ngIf="mostrarParte; else parteNoMostrar">
  <div class="container text-center mt-5">
    <!-- Fila 1 -->
    <div class="row mb-3">
      <!-- Columna 1 -->
      <div class="col-md-6 text-start">
        <!-- Campo para el nombre del empleado -->
        <input type="text" class="form-control mb-2" placeholder="Nombre del empleado..." [(ngModel)]="nombreArticulo">
        <button class="btn btn-primary mb-2" (click)="refrescar()">Refrescar</button>
        <button class="btn btn-primary mb-2" (click)="filtrarPorNombre()">Filtrar por nombre</button> <!-- Botón para filtrar -->
      </div>

      <!-- Columna 2 -->
      <div class="col-md-3 text-start">
        <!-- Botón para activar la búsqueda por nombre -->
        <button class="btn btn-primary mb-2" (click)="mostrarInsertar = false; mostrarActualizar = false; mostrarEliminar = false">Filtrar por nombre</button>
      </div>
    </div>

    <!-- Fila 2 -->
    <div class="row mb-3">
      <!-- Columna única -->
      <div class="col-md-12 text-start">
        <!-- Botones para abrir las ventanas -->
        <button class="btn btn-primary" (click)="mostrarInsertar = true; mostrarActualizar = false; mostrarEliminar = false">Insertar</button>
        <button class="btn btn-primary" (click)="mostrarInsertar = false; mostrarActualizar = true; mostrarEliminar = false">Actualizar</button>
        <button class="btn btn-primary" (click)="mostrarInsertar = false; mostrarActualizar = false; mostrarEliminar = true">Eliminar</button>
        <button class="btn btn-primary" (click)="salir()">Salir</button>
      </div>
    </div>

    <!-- Fila 3 (tabla de empleados) -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Puesto</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let empleado of Empleados">
                  <td (click)="seleccionarEmpleado(empleado)">
                    {{ empleado.Nombre }}
                  </td>
                  <td>{{ empleado.Nombre1 }}</td>
                  <td>
                    <button
                      class="btn btn-primary"
                      [disabled]="!impersonarHabilitado || empleado !== empleadoSeleccionado"
                      (click)="salir()"
                    >
                      Impersonar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #parteNoMostrar>
  <!-- Esta parte se mostrará si mostrarParte es false -->
  <app-login></app-login>
</ng-template>
